@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.body {
    position: relative;
    height: 850px;
    margin: 35px auto 20px;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
}

.container {
    width: 740px;
}

.box-2 {
    width: 100%;
    background-color: beige;
    padding: 10px;
}

@media (max-width: 767px) {
    body {
        padding: 10px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .box-2 {
        width: 100%;
        height: 440px;
    }
}

.title-label {
    margin-left: 30%;
    font-family: fantasy;
    font-size: 47px;
}

.question-header {
    margin-top: 8px;
    margin-left: 25%;
    font-family: monospace;
}

.border-input {
    height: 40px;
    width: 316px;
    float: left;
    border-radius: 10px;
    margin-left: 59.2%;
    margin-right: 5px;
    padding: 10px;
}

.center-div {
    margin-left: 37%;
}

.border-button {
    margin-top: 15px;
    margin-right: 10px;
    height: 40px;
    width: 70px;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.login-button:hover {
    background-color: slategrey;
}

.login-button:active {
    background-color: slategrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.question-select-list {
    margin-left: 60.5%;
    width: 316px;
}

.error-alert {
    color: #fe2929;
}

body {
    background: #184e8e linear-gradient(135deg, #fe2929, #ffb3c5);
}

