@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.container {
    margin: 50px auto;
    margin-top: 220px;
}

.body {
    position: relative;
    width: 720px;
    height: 470px;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-2 {
    background-color: beige;
    padding: 10px;
}

.box-1,
.box-2 {
    width: 50%;
}

.container .box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    text-decoration: none;
}

.box:active,
.box:visited {
    border: 2px solid #ee82ee;
}

.box:hover {
    border: 2px solid #ee82ee;
}

@media (max-width: 767px) {
    body {
        padding: 10px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
        height: 440px;
    }
}

.lblTitle {
    margin-left: 108px;
    font-family: fantasy;
    font-size: 47px;
}

.lblUaP {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.inputUaP {
    height: 40px;
    width: 316px;
    float: left;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
}

.btnlogin {
    margin-top: 15px;
    margin-left: 130px;
    height: 40px;
    width: 70px;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.btnlogin:hover {
    background-color: slategrey;
}

.button:active {
    background-color: slategrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#noti {
    margin-top: 15px;
    margin-left: 27px;
    margin-right: 27px;
    font-family: inherit;
    font-size: 15px;
    font-style: inherit;
    text-align: center;
    color: #fe2929;
}

body {
    background: #184e8e linear-gradient(135deg, #fe2929, #ffb3c5);
}

.checkbox {
    margin-top: 10px;
    margin-left: 104px;
}